body {
    padding:0;
    margin:0;
}

p {
    font-family: "minion-pro";
}

body.gallery {
	background:black;
}

a {
	color:black;
	text-decoration:none;
}

h1 {
	font-family: "minion-pro";
	margin:20px 60px 0px 16%;
}

h2 {
	font-style:italic;
	font-family: "minion-pro";
	margin:20px 60px 0px 16%;
	font-weight:normal;
}

#wrapper {
    width:100%;
    position:relative;
    float:left;
}

#topbar {
	width:100%;
	border-bottom:black 1px solid;
	position:fixed;
	float:left;
    background-color:white;
    z-index:1000;
}


/* article */

.pgnum {
	text-align:left;
	color:#333333;
	font-size:1.2em;
	float:right;
	padding:0px 35px 0px 0px;
	position:relative;
	margin:10px 0px 10px 0px;
}

.pgtitle {
	text-align:left;
	color:#333333;
	font-size:1.2em;
	float:left;
	position:relative;
	padding:0px 0px 0px 15px;
	margin:10px 0px 10px 0px;
}

#paging {
	position:fixed;
	float:right;
	padding:0px 0px 0px 10px;
	z-index:1002;
	right:0px;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.pagingclosed {
	display:none;
}

.pagingopen {
	display:block !important;
	background:#ededed;
}

.pagingnav {
	list-style:none;
	text-align:left;
	padding:0px 10px 20px 8px;
	font-size:1.1em;
	color:#4f4f4f;
	border-top:black 1px solid;
	top:29px;
	position:relative;
	display:none;
}

.pagingnav a {
	color:gray;
}

.pagingnav a:hover {
	color:black;
}


#paging li {
	margin:0px;
}

.sectitle {
	color:#212121;
	padding:6px 0px 0px 0px;
}

.sectitle a {
	color:black;
}

.sectitle:hover {
	color:black;
}

.artpage {
	padding:3px 0px 0px 8px;
}

.arrow_box {
	position: relative;
	background: #757575;
	float:right;
	top:-17px;
	right:-15px;
}
.arrow_box:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(117, 117, 117, 0);
	border-top-color: #757575;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}


#content {
    position:relative;
    width:100%;
    float:left;
    top:50px;
}

#copy {
    position:relative;
    width:55%;
    float:left;
}

#copy p {
    margin:10px 60px 0px 16%;
    font-size:1.4em;
    line-height:1.6em;
    margin-top: 1.4em;
    max-width:650px;
}

#media {
    width:45%;
    position:fixed;
    float:right;
    right:0;
    top:80px;
}


#media img {
    width:100%;
    margin:10px 0px 0px 0px;
	display:block;
	position:relative;
}

#next {
    width:75%;
    position:relative;
    float:left;
    border-radius:8px;
    background-color:#E0E0E0;
    margin:30px 60px 0px 16%;
    max-width:650px;
	z-index:1000;
}


.readnext {
    margin:20px 0px 20px 15px !important;
    font-size:1.6em !important;
}

.readnext a {
    color:gray !important;
}

.readnext a:hover {
    color:black !important;
}

.fullscreen {
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.9);
    position:absolute;
    bottom:0px;
    left:0px;
    float:left;
    margin:4px;
}

.fullscreen:hover {
	background:rgba(255,255,255,1);
	cursor:hand;
	cursor:pointer;
}

.icon-resize-full {
    margin:8px;
}

.fullscreen img {
	width:80% !important;
	margin:3px !important;
}

.prev {
	margin:20px 60px 80px 16% !important;
	position:relative;
	display:block;
	font-size:1em !important;
	color:#CCC;
	padding-left:15px;
}

/* gallery */

#galimg {
    position:relative;
    float:left;
    width:100%;
    margin-top:48px;
}

#galimg img {
    position:relative;
    max-height:90%;
    max-width:90%;
    margin: 0px auto;
    display:block;
    text-align:center;
}

.caption {
    font-size:1.3em;
    color:#4D4D4D;
    position:relative;
    float:left;
    margin:12px 0px 0px 10%;
}

#galinfo {
	width:300px;
	position:fixed;
	float:right;
	background:white;
	right:-200px;
	z-index:90;
	top:60px;
	min-height:280px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#galinfo p {
	font-size:1.3em;
	margin:10px 0px 10px 15px;
}

#galinfo.move {
	right:0px;
}

#galcntrl {
	position:fixed;
	float:left;
	width:4%;
	color:white;
	top:35%;
	z-index:2000;
}

.imgmap {
	display:none !important;
}

.imghide {
	display:none !important;
	border:red solid 4px;
}

.imgshow {
	display:block !important;
}

.purple {
	background-color:purple;
}

#cntrlmap {
	margin:10px 10px 10px 10px;
	border:white 1px solid;
	padding:10px 10px 10px 10px;
	text-align:center;
	position:relative;
	float:left;
}

#cntrlmap:hover {
	cursor:hand;
	cursor:pointer;
}

.cntrl {
	margin:10px 10px 10px 10px;
	border:white 1px solid;
	padding:10px 10px 10px 10px;
	text-align:center;
	position:relative;
	float:left;
}

#close {
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.9);
    position:fixed;
    bottom:0px;
    left:0px;
    float:left;
    margin:4px;
}

#close:hover {
	background:rgba(255,255,255,1);
	cursor:hand;
	cursor:pointer;
}

#close img {
	width:80% !important;
	margin:3px !important;
}


@media screen and (max-width:1000px) { 
/* tablet */
 
 #media {
    width:100%;
    position:relative;
    float:right;
    right:0;
    top:0px;
}
  
  #media img {
    margin:10px 0px 15px 10px;
}
  
  #copy {
    position:relative;
    width:90%;
    float:left;
}


